* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Saira', sans-serif;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.controls {
  border: 2px solid grey;
  border-radius: 12px;
  padding: 12px;
}

.controls:hover {
  background-color: #444444;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 720px;
  border: 1px solid #ffffff7c;
}

.row {
  display: flex;
  flex: 1;
}

.row > div {
  border: 1px solid #ffffff7c;
  flex: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
